body {
    background-color: rgb(240, 166, 71);
}

circle {
    fill: white;
    stroke: black;
}

circle.mushroom {
    stroke-width: 5px;
}

circle.nail {
    stroke-width: 3px;
}

circle.red {
    fill: red;
}

circle.blue {
    fill: blue;
}

circle.yellow {
    fill: yellow;
}

circle.violet {
    fill: violet;
}

circle.green {
    fill: green;
}

circle.orange {
    fill: orange;
}

circle.black {
    fill: black;
}

circle.grey {
    fill: grey;
}